
@{
    ViewBag.Title = "Register";
}

<table>
    <tr>
        <td>*邮箱</td>
        <td><input name="txtBox1" id="txtBox1" type="text" class="in"/></td>
    </tr>
    <tr>
        <td>*手机</td>
        <td><input name="txtBox2" id="txtBox2" type="text" class="in"/></td>
    </tr>
    <tr>
        <td>*密码</td>
        <td><input name="txtBox3" id="txtBox3" type="password" class="in"/></td>
    </tr>
    <tr>
        <td>*确认密码</td>
        <td><input name="txtBox4" id="txtBox4" type="password" class="in"/></td>
    </tr>
    <tr>
        <td>*昵称</td>
        <td><input name="txtBox5" id="txtBox5" type="text" class="in"/></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><input name="CheckBox1" id="CheckBox1" type="checkbox" />请阅读<a>《客户服务协议》</a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><input name="ButtOK" id="ButtOK" type="button" value="" style="background:url('../../Images/Register.gif');width:99px;height:37px;border:0px"/></td>
    </tr>
</table>
