
@{
    ViewBag.Title = "Study";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<dl>
    <dt>
        [HTML教程]
    </dt>
    <dd>
        <ul>
            <li><a>html</a></li>
            <li><a>html5</a></li>
            <li><a>Xhtml</a></li>
            <li><a>css</a></li>
        </ul>
    </dd>
</dl>
<dl>
    <dt>
        [.NET教程]
    </dt>
    <dd>
        <ul>
            <li><a>ASP.NET</a></li>
            <li><a>Web Pages</a></li>
            <li><a>MVC</a></li>
           
        </ul>
    </dd>
</dl>