
@{
    ViewBag.Title = "Index";
}

<body>
    <h1>@ViewBag.Title</h1>
    <table>
        <tr>
            <th>编号</th>
            <th>登录名</th>
            <th>操作</th>
        </tr>
        @foreach (var item in ViewData["sysuser"] as List<T2.Models.Sysuser>)
        {
            <tr>
                <th>@item.id</th>
                <th>@item.username</th>
                <th><a href="/Sysuser/Details?id=@item.id">详情</a></th>
            </tr>
        }
    </table>
</body>

