
@{
    ViewBag.Title = "Index";
}

<body>
    <form action="Home/Index" method="post">
        <p>名称：<input type="text" name="Name" value="" /></p>
        <p>数量：<input type="text" name="Num" value="" /></p>
        <input type="submit" name="submit1" value="提交" id="submit1"/>
        <h1>@ViewBag.Info</h1>
    </form>
</body>

