
@{
    ViewBag.Title = "Index3_2";
}

<body>
    <form action="Index3_2" method="post">
        <p>账号：<input type="text" name="id" value="" /></p>
        <p>评分：<input type="text" name="pf" value="" /></p>
        <p>评论：<textarea name="pl" cols="50" rows="3"></textarea> </p>
        <input type="submit" name="submit1" value="提交" id="submit1" />
        <h1>@ViewBag.Info</h1>
    </form>
</body>