
@{
    ViewBag.Title = "Index3_3";
}


<body>
    <h1>购买火车票的人员名单</h1>
    <form action="Buy3_3" method="post">
        名单1：<input type="text" name="personName" value="" /><br />
        名单2：<input type="text" name="personName" value="" /><br />
        名单3：<input type="text" name="personName" value="" /><br />
        名单4：<input type="text" name="personName" value="" /><br />
        名单5：<input type="text" name="personName" value="" /><br />
        <input type="submit" name="name" value="购买" />

    </form>
</body>

