
@{
    ViewBag.Title = "logein2_3";
}


<body>
    <h1>用户登录</h1>
    <form action="Index2_3" method="post">
        用户名：<input type="text" name="username" value="" /><br />
        密&nbsp;&nbsp;&nbsp;码：<input type="password" name="pwd" value="" />
                             <input type="submit" name="buttOK" value="登录" />
    </form>
</body>