<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>欢迎进入W3school学习网站</h1>
    <div>
        @RenderBody()
    </div>
    <h3>版权所有，保留一切权利。赞助商:上海XX投资有限公司。蒙ICP备06****30号</h3>
</body>
</html>
